/* 
============================
All 
============================
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  background: url(./media/pexels-abdullah-ghatasheh-1631677.jpg),
    no-repeat;
  background-size: cover;
  position: relative;
  background-color: rgb(189, 188, 188);
  font-family: "Josefin Sans", sans-serif;
  --clr-primary: rgb(38, 37, 37);
  --clr-secondary: #f3d4b0;
  --clr-links: #0a4350;
  --bcg-dark: #0a4350;
  --bcg-light: #f3d4b0;
  --bcg-table: rgb(70, 68, 68);
  --b-radius: 20px;
}
/* 
===========================
index & external links
===========================
*/
.GitHubResources {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  margin: 0.75rem 1rem;
  color: var(--clr-secondary);
  text-shadow: 2px 2px 4px black;
  text-transform: uppercase;
}
.GitHubResources:hover {
  color: var(--clr-links);
}
.nav-btn {
  margin: 5rem 1rem;
  padding: 2rem;
}
.topnav1,
.topnav2 {
  margin: 1rem auto;
  text-align: center;
}
.nav-items {
  display: inline-block;
  margin: 5px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.nav-link {
  margin: 0.3rem;
  width: 100px;
  height: 50px;
  color: var(--clr-secondary);
  text-decoration: none;
  font-style: italic;
  text-shadow: 2px 2px 4px #000;
  font-size: 1.5rem;
  background: var(--bcg-dark);
  border-radius: var(--b-radius);
  line-height: 50px;
  display: inline-block;
}
.nav-link:hover {
  color: var(--clr-links);
  text-shadow: 2px 2px 4px grey;
  background: var(--bcg-light);
}
.icons {
  width: 50px;
}
.icons:hover {
  width: 60px;
  box-shadow: 3px 3px 7px rgb(63, 63, 63);
  border-radius: 50%;
}
.textalign {
  margin-top: 0 auto;
  padding: 1rem;
  text-align: center;
  line-height: 25px;
}
.textalign-title {
  text-shadow: 1px 1px 2px grey;
  line-height: 50px;
  margin-bottom: 10px;
  padding: 10px;
}
.center,
.center1 {
  margin: 1px auto;
  padding: 1rem;
  color: var(--clr-secondary);
  /* text-shadow: 2px 2px 4px black; */
  text-align: left;
  text-transform: capitalize;
  box-shadow: 5px 5px 7px grey;
  border-radius: var(--b-radius);
  line-height: 30px;
  background-color: var(--bcg-table);
}
.center td,
.center1 td {
  padding: 10px;
}
.center p {
  line-height: 25px;
}
.center table,
th,
.center1 table,
th {
  padding: 10px;
  background-color: var(--bcg-dark);
  color: var(--clr-secondary);
  font-style: italic;
  text-shadow: 2px 2px 4px #000;
  text-decoration: none;
  border-radius: 20px;
  text-align: center;
  border: 2px solid #f3d4b0;
}
.linkHub,
.center1 a,
.center a {
  color: var(--clr-links);
  text-decoration: none;
  text-shadow: 1px 1px 2px grey;
  background-color: var(--bcg-light);
  border-style: double;
  border-color: white;
  border-radius: var(--b-radius);
}
.linkHub:hover,
.center a:hover,
.center1 a:hover {
  color: var(--clr-secondary);
  text-shadow: 2px 2px 4px black;
  background: var(--bcg-dark);
}
.center p:hover {
  background: var(--bcg-dark);
  border-radius: 0px 20px 20px 20px;
  border: 2px solid #f3d4b0;
  font-size: 1.2rem;
  text-shadow: 2px 2px 4px #000;
}
/* 
====
contact form
==== 
*/
.contact {
  margin: 1rem auto;
  padding: 1rem;
  text-align: center;
  float: center;
  color: var(--clr-secondary);
  text-shadow: 2px 2px 4px var(--clr-primary);
  background: rgba(0, 0, 0, 0.6);
  border-radius: var(--b-radius);
}
.form input,
textarea,
button {
  border: 2px solid #0a4350;
  background-color: var(--bcg-light);
  box-shadow: 2px 2px 7px black;
}
.form button {
  width: 100px;
  height: 40px;
  cursor: pointer;
  color: var(--clr-secondary);
  background: var(--bcg-dark);
  text-shadow: 2px 2px 4px #000;
}
.form button:hover {
  color: var(--clr-links);
  text-shadow: 2px 2px 2px grey;
  background: var(--bcg-light);
}
.btn-send {
  border-radius: var(--b-radius);
}
.arrow {
  display: inline;
  float: right;
  width: 50px;
  height: 30px;
  text-align: center;
}

/* 
===============================
MEDIA INDEX 
===============================
*/
@media screen and (min-width: 576px) {
  :root {
    font-size: 1.1rem;
  }
  .topnav1 {
    margin: 5px;
    padding: 5px;
    text-align: center;
    position: fixed;
  }
  .topnav2 {
    float: right;
    margin-right: 2vw;
  }
  .textalign {
    float: right;
    width: 80vw;
    margin-right: 2vw;
  }
  .center {
    float: right;
    width: 80vw;
    margin-right: 0.5vw;
  }
  .center1 {
    float: left;
    width: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 576px) and (max-width: 1170px) {
  #form1,
  #form2 {
    padding: 10px;
    float: left;
    width: 50%;
  }
  #form2 textarea {
    height: 85px;
  }
  #form1 input {
    width: 200px;
    height: 25px;
  }
  #contact {
    float: right;
    margin-right: 0.5vw;
  }
  .nav-items {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1170px) {
  .contact {
    margin-top: 5vw;
    margin-left: 5px;
    float: left;
    text-align: left;
    position: fixed;
  }
  .arrow1 {
    display: none;
  }
  .link-contact {
    display: none;
  }
  .topnav2 {
    display: none;
  }
}
/* @keyframes animation {
  0% {
    opacity: 0;
    box-shadow: 2px 2px 4px black;
    border-radius: 20px;
  }
  25% {
    opacity: 0.2;
    box-shadow: 2px 2px 4px black;
    border-radius: 20px;
  }
  50% {
    opacity: 0.5;
    box-shadow: 2px 2px 4px black;
    border-radius: 20px;
  }
  75% {
    opacity: 0.7;
    box-shadow: 2px 2px 4px black;
    border-radius: 20px;
  }
  100% {
    opacity: 1;
    box-shadow: 2px 2px 4px black;
    border-radius: 20px;
  }
} */
